<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>    
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap")
    @RenderSection("styles", required: false)
</head>
<body>
    @if(TempData["success"] != null) { 
      <div id="SuccessMessage" class="alert text-success fade in">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
          @Html.Encode(TempData["success"])
      </div>
    }
    @RenderBody()
    
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/jqueryui")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            setTimeout(function () {$("#SuccessMessage").alert("close")},4000);
        });
    </script>
</body>
</html>
