@model WebPoolCheckin.Models.Employee

@{
    ViewBag.Title = "Checkin";
}
<div class="container" style="width:22em">
<h2>Employee Check In</h2>
    <div class="container" style="width:15em; text-align:center">
        <fieldset>
            <h3>Employee Name</h3>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.FirstName) : @Html.DisplayFor(model => model.FirstName)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.LastName) : @Html.DisplayFor(model => model.LastName)
            </div>
            <div class="display-label">
                 @Html.DisplayNameFor(model => model.EmployeeType) : @Html.DisplayFor(model => model.EmployeeType)
            </div>
            <br />
        </fieldset>
        @using (Html.BeginForm("EmployeeCheckedIn", "Employee", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.Hidden("id",Model.Id)
            <div class="btn-group">
                <button name="IsEntry" value="true" class="btn btn-success">Check In</button>
                <button name="IsEntry" value="false" class="btn btn-danger">Check Out</button>
            </div>
        }

        <p><a href="~/">Return to Check In Screen</a></p>
    </div>
</div>