@model WebPoolCheckin.Models.Family

@{
    ViewBag.Title = "Edit Guest List";
}

<h2>Edit Guest List</h2>


@using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "form-inline" }))
{
    @Html.Hidden("Id")
    if (Model.People.Any(p => p.Is_Guest.HasValue && p.Is_Guest.Value))
    {
        <table class="table" style="width: 400px;">
            @foreach (var p in Model.People.Where(p => p.Is_Guest.HasValue && p.Is_Guest.Value))
            {
                <tr>
                    <td><span class="person-name">@p.FullName</span></td>
                    <td>
                        @if (p.Picture != null)
                        {
                            <img src='@Url.Action("PersonImage", "Search", new { id = p.Id })' height="200" width="200" class="person img-rounded" />
                        }
                    </td>
                    <td>
                        <button name="Id" class="delete btn btn-danger pull-right" value="@p.Id"><i class="icon-trash"></i> Remove</button>
                    </td>
                </tr>
            }
        </table>
    }
    <button style="width:10em" id="clear" class="btn">Cancel</button>
}

@section scripts{
    <script type="text/javascript">
        $(function () {

            $('button.delete').click(function (e) {
                e.preventDefault();
                if (confirm('Are you sure you want to archive the person "' + $(this).parents('tr').find("span.person-name").text() + '"?')) {
                    $('form input[name="Id"]').attr('value', this.value);
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ArchiveGuest","Search")',
                        data: $('form').serialize(),
                        success: function (returnedData, textStatus, jqXHR) {
                            window.location.reload(true);
                        }
                    });
                } else {
                }
            });
        });
    </script>
}