@model WebPoolCheckin.Models.Share

@{
    ViewBag.Title = "Welcome to the Pool";
}




@using (Html.BeginForm("Search", "Search", FormMethod.Post, new { @class = "", id = "search-form" }))
{
    <div style="width:50em; margin:auto; text-align:center">
        <h1>Welcome to Stratford Pool</h1><br />
        <h3>Please Enter Your Member #</h3>
        @Html.Password("SearchText", "", new { @class = "input-large search-query" })
        @Html.ValidationSummary(false)
        <br />
        <br />
        <div>
            <button style="width:10em" class="btn btn-primary">Go</button>
            <!--<button style="width:10em" id="clear" class="btn btn-primary">Clear</button>-->
        </div>
    </div>
}
@if(Model != null){
    @Html.Partial("_Checkin");
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('img.person').click(function (e) {
                $(this).parent().children('input[type="checkbox"]').click();
            });
            $("button").button();

            $('#guests').click(function (e) {
                e.preventDefault();
                $('#checkin-form').attr('action', '@Url.Action("CheckinGuests","Search")');
                $('#checkin-form').submit();
            });

            $('button.delete').click(function (e) {
                if (confirm('Are you sure you want to archive the person "' + $(this).parent().find("span.person-name").text() + '"?')) {
                    $('#checkin-form').attr('action', '@Url.Action("ArchivePerson","Search")');
                    $('#checkin-form input[name="id"]').attr('value', this.value);
                } else {
                    e.preventDefault();
                }
            });

            $('#edit-family-guests').click(function (e) {
                e.preventDefault();
                window.location = '@Url.Action("EditFamilyGuestList")/' + this.value;
            });

            $('#clear').click(function (e) {
                e.preventDefault();
                window.location = "/Search/Search";
            });
        });

        window.onload = function () {
            var txtBox = document.getElementById("SearchText");
            if (txtBox != null) {
                txtBox.focus();
            }
        };
    </script>
}
